body{
  margin:0;
  font-family:Segoe UI;
  background:radial-gradient(circle at top,#0f172a,#020617);
  color:white;
  text-align:center;
}

header{
  padding:10px;
  font-size:24px;
  letter-spacing:1px;
}

.panel{
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin:10px;
  padding:10px;
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.05);
  border-radius:12px;
}

button{
  padding:8px 14px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
  transition:.2s;
}
button:hover{transform:scale(1.05)}

#grid{
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(40,22px);
  width:max-content;
}

.cell{
  width:22px;height:22px;
  border:1px solid #1e293b;
  transition:.15s;
}

.start{background:#22c55e;}
.end{background:#ef4444;}
.wall{background:#334155;}
.visited{background:#38bdf8;}
.path{
  background:#fde047;
  box-shadow:0 0 8px #fde047;
}
