body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Segoe UI;
}

.container{
    width:900px;
    margin:auto;
    text-align:center;
}

header{
    padding:10px;
}

.info{
    color:#94a3b8;
    font-size:14px;
}

#stats{
    margin:10px;
    display:flex;
    justify-content:space-around;
}

#grid{
    margin:auto;
    display:grid;
    grid-template-columns:repeat(30,25px);
    width:max-content;
}

.cell{
    width:25px;
    height:25px;
    border:1px solid #1e293b;
}

.start{background:#22c55e;}
.end{background:#ef4444;}
.wall{background:#475569;}
.visited{background:#38bdf8;}
.path{background:#fde047;}
